#business-image, #googleMap, #imageDiv{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/*
#googleMap{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#imageDiv{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}*/